doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/tiles.js')
  body
    block content