div.col-xs-6
	div(class="panel panel-default")
		div.panel-body
			h3 #{settings.parameters.title}
		
			if data
				ul
					each story in data
						li 
							a(href=story.link, target='_blank') #{story.title}